# Input file inside data/input/
INPUT_GEOJSON=custom.geojson

# Tileset metadata
TILESET_ID=custom
TILESET_NAME=custom
TILESET_DESCRIPTION=
TILESET_ATTRIBUTION=
LAYER_NAME=

# Tippecanoe build source
TIPPECANOE_REF=main

# Supports EPSG:4326 or EPSG:3857
# Tippecanoe expects lon/lat GeoJSON so EPSG:4326 is preferred
# EPSG:3857 will be reprojected before tiling
PROJECTION=

# Tippecanoe args
TIPPECANOE_ARGS=-zg --drop-densest-as-needed --extend-zooms-if-still-dropping

# TileServer GL
TILESERVER_PORT=
TILESERVER_ALLOWED_HOSTS=*

# View overrides
MAP_CENTER_LON=
MAP_CENTER_LAT=
MAP_ZOOM=
